.user-card-options-menu {
  font-size: 1.6rem;
  padding: 12px 16px;
  background-color: #99defd;
  color: #000000;
  border-bottom: 1px solid #000000;
  animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-card-options-menu-message{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card-options-menu-message > span {
  width: 56px;
  height: 56px;
}

.user-card-options-menu-message svg {
  width: 100%;
  height: 100%;
}

.user-card-options-menu-message h4 {
  margin-bottom: 5px;
}

.user-card-options-menu-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.user-card-options-menu-btn > button {
  width: 155px;
  height: 40px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  color: #ffffff;
  border-color: #000000;
}

.user-card-options-menu-btn > .btn-login {
  background-color: #03045e;
}

.user-card-options-menu-btn > .btn-create-account {
  background-color: #ffffff;
  color: #000000;
}